body {
  margin: 0;
  padding: 0;
  background-color: #060811;
  color: #EDF0FF;
}

* {
  box-sizing: border-box;
}

input:focus {
  border-color: #C9A84C !important;
}

button:hover {
  opacity: 0.9;
}